@media(max-width:991px) {
    .footer .footer_container {
        padding: 0 15px;
        padding-top: 30px;
        padding-bottom: 3px;
    }

    .footer .footer_container img {
        width: 189px;
        height: 23px;
        margin: 0 auto;
        display: block;
    }

    .footer .footer-text {
        padding: 0 33px;
        margin: 15px auto;
        width: 100%;

    }

    .footer .footer-text p {
        font-size: 12px;
        margin: 0;

    }

    .footer .footer_bottom {
        padding: 10px;
        height: 60px;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 126, 238, 0.5);
        z-index: 1000;
    }

    .mobile.footer_h {
        height: 60px;
    }

    .footer_bottom .request span {
        font-size: 12px;
        line-height: 20px;
    }

    .footer_bottom .result {
        text-align: right;
        padding-top: 7px;
    }

    .footer_bottom .result span {
        vertical-align: middle;
    }

    .footer_bottom_left {
        padding-right: 0;
    }

    .footer .footer_bottom .footer_item {
        padding-right: 15px;
    }

    .footer_bottom .result span:first-child {
        font-size: 12px;
        width: 70px;
        height: 20px;
        line-height: 20px;

    }

    .footer_bottom .result span:last-child {
        font-size: 12px;
        width: 70px;
        height: 20px;
        line-height: 20px;
    }

    .mobile.n_popup.white-popup {
        position: absolute;
        background-color: #fff;
        width: 345px;
        height: 530px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        /* IE 9 */
        -moz-transform: translate(-50%, -50%);
        /* Firefox */
        -webkit-transform: translate(-50%, -50%);
        /* Safari 和 Chrome */
        -o-transform: translate(-50%, -50%);
    }

    .mobile .agreement {
        color: #333333;
        padding: 5px;
        font-size: 15px;
        text-align: justify;
        line-height: 20px;
    }

    .mobile .agreement_title {
        font-weight: bold;
    }

    .mobile .agreement_content {
        overflow-y: scroll;
        height: 485px;
    }

    .mobile .agreement_content p {
        padding-bottom: 10px;
    }
}

/* 底部 */
.footer {
    width: 100%;
    background-color: #005BAC;
}

.footer_container {
    /* padding-top: 1.09rem; */
    padding-top: 0.4rem;
}

.footer_container img {
    width: 3.16rem;
    height: 0.4rem;
    margin: 0 auto;
    display: block;
}

.footer-text {
    margin: 0 auto;
    margin-top: 0.29rem;
    padding-bottom: 0.4rem;
    width: 9.13rem;
}

.footer-text p {
    font-size: 0.24rem;
    color: #FFFFFF;
    font-family: Georgia;
    text-align: center;
    margin: 0;

}

.footer-text p a {
    color: #FFFFFF;
}

.footer-text p:last-child {
    text-decoration: underline;
}

.footer_bottom {
    background-color: rgba(0, 126, 238, 0.5);
    width: 100%;
    height: 0.8rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: none;
}

.footer_h {
    height: 0.8rem;
}

.footer_bottom .footer_item {
    padding-left: 0;
    padding-right: 0;
}

.request span {
    font-size: 0.24rem;
    color: #FFFFFF;
    font-family: Georgia;
    line-height: 0.8rem;
}

.result {
    text-align: right;
    padding-top: 0.22rem;
}

.result span {
    font-size: 0.24rem;
    font-family: Georgia;
    display: inline-block;
    width: 1.4rem;
    height: 0.4rem;
    text-align: center;
    line-height: 0.4rem;
    vertical-align: middle;
    cursor: pointer;
}

.result span:first-child {

    color: #005BAC;

    background-color: #FFFFFF;

    box-shadow: 3px 5px 8px 0px rgba(0, 0, 0, 0.15);
}

.result span:last-child {
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    box-shadow: 3px 5px 8px 0px rgba(0, 0, 0, 0.15);
}

.n_popup.white-popup {
    position: absolute;
    background-color: #fff;
    width: 1050px;
    height: 684px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    /* IE 9 */
    -moz-transform: translate(-50%, -50%);
    /* Firefox */
    -webkit-transform: translate(-50%, -50%);
    /* Safari 和 Chrome */
    -o-transform: translate(-50%, -50%);
}

.agreement {
    color: #333333;
    padding: 40px;
    font-size: 21px;
    text-align: justify;
    line-height: 34px;
}

.agreement_title {
    font-weight: bold;
}

.agreement_content {
    overflow-y: scroll;
    height: 598px;
    padding: 20px;
}

.agreement_content p {
    padding-bottom: 20px;
}