@media(max-width:991px){
    .mobile.new_list{
        margin-top: 0;
        margin-bottom: 15px;
    }
    .mobile .news_nav{
        margin-bottom: 25px;
        font-size: 0;
        box-shadow:1px 1.5px 3px 0px rgba(51,51,51,0.15);
    }
    .mobile .news_nav .item{
        width: 33.33%;
        margin-right: 0;
        height: auto;
        font-size: 12px;
        color: #969696;
        background-color: #fff;
        line-height: 40px;
        padding: 0;
    }
    .mobile .news_nav .item.active{
        color: #005BAB;
        font-size: 13px;
        background-color: #FFF;
    }
    .mobile .news_nav .item span{
        margin: 0 8px;
    }
    .mobile .news_nav .item.active span{
       border-bottom: 1px solid #005BAB;
       width: 100%;
       line-height: 40px;
       display: inline-block;
    }

    .new_list_box{
        padding:  0 15px;
    }
    .mobile .new_list .list p{
        padding: 20px 10px;
        font-size: 15px;
    }
    .mobile .new_list .list .time{
        font-size: 12px;
    }
    .mobile .new_list .list{
        box-shadow:3px 5px 5.5px 1px rgba(51,51,51,0.15);
        padding-bottom: 20px;
        margin-bottom: 25px;
    }
    .mobile .new_list_box .list{
        box-shadow:  2px 4px 5px 0.5px rgba(51,51,51,0.15);
    }
    .mobile.pages{
        display: none;
    }
}
.new_list{
    margin-top: 105px;
    margin-bottom: 105px;
    font-family: Georgia;
}
.news_nav{
    margin-bottom: 68px;
    background-color: #fff;
}
.news_nav .item{
    display: inline-block;
    font-size: 22px;
    line-height: 53px;
    text-align: center;
    color: #fff;
    margin-right: 60px;
    color: #005BAB;
    cursor: pointer;
    padding: 0 5px;
    font-weight: bold;
}
.news_nav .item.active{
    background:rgba(0,91,171,1);
    color: #FFF;
    font-weight: bold;
}
.new_list .list{
    background:rgba(255,255,255,1);
box-shadow:4px 5px 8px 1px rgba(51,51,51,0.15);
padding-bottom: 26px;
margin-bottom: 53px;
cursor: pointer;
}
.new_list .list p{
    padding: 23px 2px;
    font-size: 21px;
}
.new_list .list img{
    width: 100%;
    height: auto;
}
.new_list .list .time{
    font-size: 21px;
    text-align: right;
    padding-right: 8px;
}
.pages{
    text-align: center;
}
.pages .paginations a{
    border:1px solid rgba(181,181,181,1);
    font-size: 16px;
    color: #8D8D8D;
    margin:  0 15px;
    height: 26px;
    width: 26px;
    line-height: 26px;
    display: inline-block;
    vertical-align: middle;
}
.pages .paginations a{
    text-decoration: none;
}
.pages .paginations .prev{
    width: 44px;
    height: 26px;
}

.pages .paginations .next{
    width: 60px;
    height: 26px;
}