@media(max-width:991px){
    .container.news_detail{
        padding: 40px 15px;
    }
    .mobile.news_detail .title{
        font-size: 18px;
        line-height: 36px;
    }
    .mobile.news_detail .date{
        font-size: 12px;
        padding-top: 16.5px;
    }
    .mobile.news_detail .news_img{
        width: 100%;
        height: auto;
    }
    .mobile.news_detail .news_img img{
        width: 100%;
        height: auto;
    }
    .mobile .news_title{
        font-size: 15px;
        padding-top: 20px;
        text-align: left;
        padding-bottom: 0;
    }
    .mobile .news_content p{
        font-size: 15px;
        line-height: 30px;
        text-align: justify;
    }
    .mobile.news_detail .icon{
        width: 22px;
        height: 22px;
    }
    .mobile.news_detail .icon img{
        width: 100%;
        height: auto;
    }
}
.news_detail{
    font-family:Georgia;
    padding: 1.2rem 0;
}
.news_detail .title{
    font-weight:bold;
    font-size:0.5rem;
    line-height: 0.54rem;
}
.news_detail .date{
    font-size: 0.24rem;
    line-height: 0.24rem;
    padding-top: 0.28rem;
}
.news_detail .news_img{
    width: 11.08rem;
    margin: 0.4rem auto;
    display: block;
    margin-bottom: 0;
}
.news_detail .news_img img{
    width: 100%;
    height: auto;
}
.news_title{
   font-size:0.24rem;
   font-weight: bold;
   padding-top: 0.59rem;
}
.news_content p{
    font-size: 0.24rem;
    padding: 0.14rem 0;
    line-height: 0.48rem;
  
}