@media(max-width:991px) {

    /* 文件下载样式 */
    .file_d_m {
        padding: 0 15px;
    }

    .file_d.file_d_m .title {
        font-size: 18px;
        margin: 40px 0 25px;
    }

    .file_d_m .files {
        margin-bottom: 30px;
    }

    .file_d_m .files_item {
        max-height: auto;
        margin-bottom: 10px;
        padding: 15px 10px;
        font-size: 15px;
        line-height: 30px;
    }

    .file_d_m .files_item>img {
        width: 15px;
        height: 20px;
    }

    /* 图片下载页样式 */

    .container.pictures_m {
        padding: 0 10px;
    }

    .pictures_m.pictures .title {
        margin: 40px 0 25px 0;
        font-size: 18px;
        text-align: center;
    }

    .pictures_m .pictures_list {
        margin-bottom: 15px;
    }

    .pictures_m .pictures_list .row {
        margin: 0;
    }

    .pictures_m .pictures_list .list {
        background: rgba(255, 255, 255, 1);
        box-shadow: 4px 7px 7px 1px rgba(51, 51, 51, 0.15);
        margin-bottom: 25px;
    }

    .pictures_m .pictures_list .pictures_item {
        padding: 0 5px;
    }

    .pictures_m .pictures_list .list>p {
        padding: 10px 5px;
        font-size: 12px;
    }

    /* 新闻主页 */
    .mobile.banner.news {
        padding-top: 131px;
        padding-bottom: 35px;
        /* margin-top: 50px; */
    }

    .mobile.news .banner_title {
        font-size: 18px;
    }

    .mobile .banner_btn {
        display: none;
    }

    .mobile.releases {
        padding-bottom: 40px;
    }

    .mobile.releases .title {
        margin-top: 40px;
        margin-bottom: 26px;
        font-size: 18px;
        text-align: center;
        line-height: 20px;
    }

    .mobile.releases .title span {
        text-transform: capitalize;
        font-size: 18px;
    }

    .mobile.releases .title .more span {
        font-size: 12px;
        color: #969696;
        text-transform: uppercase;
    }

    .mobile.news_wrap .title {
        margin-top: 0;
    }

    .mobile.releases .title .pull-left {
        float: none !important;
    }

    .mobile.releases .title .pull-right {
        float: none !important;
    }

    .mobile.releases .title .pull-right img {
        width: 7px;
        height: 8px;
        vertical-align: inherit;
    }

    .mobile.releases .title .more>span {
        color: #969696;
        font-size: 12px;
        text-transform: uppercase;
    }

    .mobile.releases .title .more>img {
        width: 7px;
        height: 8px;
    }

    .releases_box {
        padding: 0 15px;
    }

    .mobile .releases_box .mobile_item {
        padding: 0;
        width: 50%;
    }

    .releases_box .mobile_item>img {
        width: 100%;
        height: auto;
    }

    .releases .releases_box .item {
        overflow: hidden;
        background: rgba(255, 255, 255, 1);
        box-shadow: 2px 4px 5px 0.5px rgba(51, 51, 51, 0.15);
        margin-bottom: 20px;
    }

    .releases .releases_box .item .news_desc {
        position: static;
        padding: 0;
        box-shadow: none;
        padding: 15px 10px;
        width: 50%;
    }

    .mobile.releases .item .news_desc .desc {
        box-shadow: none;
        background: none;
    }

    .mobile.releases .releases_box .item .news_desc .desc>p {
        font-size: 15px;
        padding-bottom: 0;
        text-overflow: -o-ellipsis-lastline;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        -webkit-box-orient: vertical;
        height: 100%;
    }

    .releases .releases_box .item .news_desc .news_info .time {
        font-size: 14px;
        position: absolute;
        bottom: 15px;
        right: 0;
    }

    .releases .releases_box .item .news_desc .news_info .type {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 8px;
        line-height: 8px;
        padding: 8px 5px;
    }

    .news_box {
        padding: 0 15px;
    }

    .mobile.releases .list:nth-child(odd) .releases_item {
        margin-right: 0;
    }

    .mobile.releases .list:nth-child(even) .releases_item {
        margin-left: 0;
    }

    .mobile.releases .releases_item {
        box-shadow: 2px 4px 5px 0.5px rgba(51, 51, 51, 0.15);
    }

    .mobile.news_wrap .list {
        margin-bottom: 20px;
    }

    .news_wrap.mobile .item .news_desc_box {
        padding: 10px;
    }

    .news_wrap.mobile .item .news_desc_box>p {
        font-size: 15px;
        text-overflow: -o-ellipsis-lastline;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        -webkit-box-orient: vertical;
        height: 100%;
    }

    .video_bg.mobile {
        background: none;
        padding: 0;
        position: static;
    }

    .mobile.video_bg .video_header .pull-left {
        float: none !important;
    }

    .mobile.video_bg .video_header .pull-right {
        float: none !important;
    }

    .mobile.video_bg .video_header {
        text-align: center;
    }

    .mobile.video_bg .rect .title {
        position: static;
        text-shadow: none;
        line-height: 18px;
        font-size: 18px;
        color: #333;
        text-transform: capitalize;
    }

    .mobile.video_bg .rect {
        position: static;
        width: 100%;
        height: 18px;
        border: none;
    }

    .mobile.video_bg .more {
        padding-top: 0;

    }

    .mobile.video_bg .more a {
        text-decoration: none;
    }

    .mobile.video_bg .more span {
        color: #969696;
        font-size: 12px;
    }

    .mobile.video_bg .more picture img {
        width: 7px;
        height: 8px;
        margin-left: 0;
        vertical-align: initial;
    }

    .mobile.videos {
        margin-top: 25px;
        margin-bottom: 40px;
    }

    .videos_box {
        margin: 0;
    }

    .videos .videos_box .videos_icon {
        width: 30px;
        height: 30px;
    }

    .videos .videos_box .video_title {
        font-size: 12px;
        padding: 12px 20px;
    }

    .mobile.mediatool {
        margin-top: 40px;
        margin-bottom: 0;
    }

    .mobile.mediatool>.row {
        margin-left: 0;
        margin-right: 0;
    }

    .mobile .pictures_box {
        width: 100%;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
    }

    .mobile.mediatool .title {
        text-transform: capitalize;
        font-size: 18px;
        text-align: center;
        padding-bottom: 24px;
    }

    .mobile .pictures {
        margin-bottom: 25px;
    }

    .mobile .pictures .more {
        float: none !important;
        font-size: 12px;
        color: #969696;

    }

    .mobile .pictures .more span {
        font-size: 12px;
        color: #969696;
        text-transform: uppercase;
    }

    .mobile .pictures .more img {
        width: 7px;
        height: 8px;
        vertical-align: initial;
    }

    .mobile .pictures .pictures_title {
        float: none !important;
        font-size: 15px;
        line-height: 18px;
        text-transform: capitalize;

    }

    .mobile .pictures .more>span {
        text-transform: uppercase;

    }

    .mobile .pictures .more>img {
        width: 7px;
        height: 8px;
    }

    .mediatool.mobile .item_pr {
        padding: 0 5px;
    }

    .mediatool.mobile .item_box .item>p {
        font-size: 10px;
        padding: 2.5px 10px;
    }

    .mobile .documents {
        width: auto;
        padding: 40px 15px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .mobile .documents .pictures_title {
        text-align: center;
    }

    .mobile .documents .more {
        text-align: center;
    }

    .mediatool.mobile .documents .item_pr {
        padding: 0;
        position: relative;
    }

    .mobile .documents .item_pr>img {
        width: 15px;
        height: 20px;
        right: 0;
    }

    .mobile .documents .item_box {
        margin-bottom: 10px;
    }

    .mediatool.mobile .documents .item {
        background: rgba(255, 255, 255, 1);
        box-shadow: 2px 4px 5px 0.5px rgba(51, 51, 51, 0.15);
        font-size: 15px;
        padding: 15px 10px;
        line-height: 21px;
        height: 65px;

    }

    .mobile.mediatool .item_box .item {
        height: 67.5px;
    }

    .mobile .mediatool .item_box .item p {
        font-size: 10px;
        line-height: 12px;
    }

    .mfp-wrap .mfp-arrow {
        width: 9px;
        height: 17px;
    }

    .mobile .mediatool .item_box {
        margin-left: 0;
        margin-right: 0;

    }
}


/* 文件下载样式 */
.file_d {
    font-family: Georgia;
    color: #333333;
}

.file_d .title {
    margin: 104px 0 52px 0;
    font-size: 37px;
    font-weight: bold;
    text-align: center;
}

.files {
    margin-bottom: 88px;
}

.files_item {
    max-height: 158px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 3px 4px 8px 0px rgba(0, 0, 0, 0.15);
    margin-bottom: 18px;
    padding: 35px 45px;
    font-size: 26px;
    line-height: 50px;
    position: relative;
}

.files_item>img {
    position: absolute;
    bottom: 0;
    right: 0;
}

/* 图片下载页样式 */
.pictures .title {
    margin: 105px 0 50px 0;
    font-size: 37px;
    font-weight: bold;
}

.pictures_list {
    margin-bottom: 100px;
}

.pictures_list .list {
    background: rgba(255, 255, 255, 1);
    box-shadow: 4px 5px 8px 1px rgba(51, 51, 51, 0.15);
    margin-bottom: 52px;

}

.pictures_list .list img {
    width: 100%;
    height: auto;
}

.pictures_list .list>p {
    padding: 26px 0;
    font-size: 21px;
}

/* 新闻主页样式 */
.banner.news {
    position: relative;
    font-family: Georgia;
    background: url(../img/news/news_banner1.png)no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 2.7rem;
    padding-bottom: 0.79rem;
    background-position: center;
    color: #fff;
}

.news .banner_title {
    font-size: 0.5rem;
    font-weight: bold;
}

.news .banner_btn {
    width: 5rem;
    background-image: -webkit-linear-gradient(left, #005BAC 0%, rgba(0, 91, 172, 0) 100%);
    background-image: -o-linear-gradient(left, #005BAC 0%, rgba(0, 91, 172, 0) 100%);
    background-image: linear-gradient(to right, #005BAC 0%, rgba(0, 91, 172, 0) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2171DB', endColorstr='#00005BAC', GradientType=1);
    padding: 0.2rem 0.4rem;
    margin-top: 0.4rem;
    cursor: pointer;
}

.news .banner_btn span {
    font-size: 0.26rem;
    font-weight: bold;
    line-height: 0.26rem;
    color: #fff;
    padding-top: 0.04rem;
}

.news .banner_btn img {
    width: 0.18rem;
    height: 0.32rem;
}

.releases {
    padding-bottom: 134px;
}

.releases_pc {
    /* overflow: hidden; */
}

.releases_pc .pc_item {
    padding: 0 0.075rem;
    width: 100%;
    cursor: pointer;
}

.releases_pc .pc_item img {
    width: 100%;
    height: auto;
}

.releases_pc .pc_item .desc {
    /* width: auto; */
}

.releases .title {
    margin-top: 1.2rem;
    margin-bottom: 0.59rem;
    font-size: 0.5rem;
    line-height: 0.4rem;
    color: #333333;
}

.releases .more {
    cursor: pointer;
    color: #333333;
    font-size: 0.26rem;
    text-transform: uppercase;
    font-family: Georgia;
}

.releases .more img {
    width: 0.18rem;
    height: 0.18rem;
    vertical-align: initial;
}

.releases .more a {
    color: #333333;
    text-decoration: none;
    cursor: pointer;
}

.releases .title>span {
    text-transform: uppercase;
    font-weight: bold;
}

.releases .item {
    position: relative;
    padding-right: 0;
    padding-left: 0;
    margin: 0;
}

.releases .item img {
    width: 100%;
    height: auto;
}

.releases .item .news_desc {
    /* padding: 20px 0; */
    position: absolute;
    left: 12px;
    top: 200px;
    right: 12px;
    padding: 0;
    width: auto;
}

.releases .item .news_desc .desc {
    /* padding: 0 12px; */
    background: rgba(255, 255, 255, 1);
    box-shadow: 4px 5px 8px 1px rgba(51, 51, 51, 0.15);
    padding-bottom: 12px;

}

.releases .item .news_desc_box p {
    font-size: 0.24rem;
    color: #333333;

    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    height:100%;
}

.releases_item a:hover .news_desc_box p {
    color: #005BAC;
}

.releases .news_desc_box {
    position: static;
    background: rgba(255, 255, 255, 1);
    padding: 0.3rem 0.2rem;
}

.news_wrap .item {
    height: 100%;
}

.news_wrap .list {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0.6rem;
    cursor: pointer;
    background-color: #fff;
    /* margin-right: 24px; */
}

/* .news_wrap .list:nth-child(even){
    padding-left: 15px;
} */
.releases .releases_item {
    overflow: hidden;
    box-shadow: 4px 5px 8px 1px rgba(51, 51, 51, 0.15);

}

.releases .list:nth-child(odd) .releases_item {
    margin-right: 12px;
}

.releases .list:nth-child(even) .releases_item {
    margin-left: 12px;
}

.releases .item .news_desc p {
    font-size: 0.24rem;
    color: #333333;
    padding: 0.3rem 0.2rem;
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 1rem;
}

.releases .item a:hover .news_desc p {
    color: #005BAC;
}

.news_info .type {
    background: rgba(72, 142, 218, 1);
    color: #FFFFFF;
    font-size: 0.24rem;
    line-height: 0.24rem;
    padding: 0 0.24rem;
    font-weight: bold;
}

.news_info .time {
    font-size: 0.24rem;
    color: #969696;
    padding-right: 0.19rem
}

.news_wrap {
    padding-bottom: 53px;
    padding-top: 1rem;
}

.news_wrap .title {
    margin-top: 0;
}

.news_wrap .item>span {
    background: rgba(255, 0, 0, 1);
    color: #fff;
    font-size: 16px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 5px;
}

/* 视频区域 */

.video_bg {
    background: url(../img/news/news_banner2.png)no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 0.92rem;
    padding-bottom: 1.23rem;
    background-position: center;
}

.video_bg .rect {
    position: relative;
    width: 2.15rem;
    height: 0.85rem;
    border: 0.04rem solid rgba(255, 255, 255, 0.4);
    left: -1.24rem;
}

.video_bg .rect .title {
    position: absolute;
    top: 0.23rem;
    left: 1.22rem;
    font-size: 0.5rem;
    line-height: 0.4rem;
    font-family: Georgia;
    font-weight: bold;
    color: #fff;
    text-shadow: 0px 11px 18px rgba(51, 51, 51, 0.21);
    text-transform: uppercase;

}

.video_bg .more {
    padding-top: 18px;
    cursor: pointer;
}

.video_bg .more>a span {
    font-size: 0.26rem;
    color: #fff;
    font-family: Georgia;
    text-transform: uppercase;
    vertical-align: middle;

}

.video_bg .more>a img {
    width: 0.18rem;
    height: 0.18rem;
    margin-left: 0.18rem;
    vertical-align: middle;
}

.videos {
    margin-top: -1.06rem;
    margin-bottom: 1.25rem;

}

.videos .item {
    position: relative;
}

.videos .videos_img {
    width: 100%;
    height: auto;
}

.videos .videos_icon {
    width: 52px;
    height: 52px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    cursor: pointer;
}

.videos .video_title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 0.26rem;
    font-family: Georgia;
    font-weight: bold;
    color: #fff;
    padding: 0.22rem 0.4rem;
    line-height: 0.26rem;
    /* background: linear-gradient(90deg, rgba(0, 91, 172, 1) 0%, rgba(0, 91, 172, 0) 100%); */
    background-image: -webkit-linear-gradient(left, #005BAC 0%, rgba(0, 91, 172, 0) 100%);
    background-image: -o-linear-gradient(left, #005BAC 0%, rgba(0, 91, 172, 0) 100%);
    background-image: linear-gradient(to right, #005BAC 0%, rgba(0, 91, 172, 0) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2171DB', endColorstr='#00005BAC', GradientType=1);
}

.mediatool {
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    font-family: Georgia;
}

.mediatool .title {
    font-size: 0.5rem;
    line-height: 0.4rem;
    font-family: Georgia;
    font-weight: bold;
    color: #333333;
    padding-bottom: 0.41rem;
    text-transform: uppercase;
}

.pictures {
    margin-bottom: 0.28rem;
}

.pictures_box {
    width: 70%;
}

.pictures .pictures_title {
    font-size: 0.42rem;
    line-height: 0.37rem;
    font-family: Georgia;
    font-weight: bold;
    color: #333;
    padding-top: 0.1rem;
}

.pictures .more {
    font-size: 0.26rem;
    font-family: Georgia;
    cursor: pointer;
    padding-top: 0.09rem;
}

.pictures .more span {
    text-transform: uppercase;
    vertical-align: middle;
}

.pictures .more a {
    color: #333;
    text-decoration: none;
}

.pictures .more a img {
    width: 0.14rem;
    height: 0.14rem;
    vertical-align: middle;
}

.mediatool .item_box .item {
    position: relative;
    cursor: pointer;
    height: 1.5rem;

}

.mediatool .item_box {
    margin-left: -7.5px;
    margin-right: -7.5px;
}

.mediatool .item_box .item img {
    width: 100%;
    height: auto;
}

.mediatool .item_pr {
    padding: 0 7.5px;
}

.mediatool .item_box .item p {
    position: absolute;
    background: rgba(51, 51, 51, 0.6);
    font-size: 0.18rem;
    font-family: Georgia;
    color: #fff;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.06rem 0.2rem;
    margin: 0;
    line-height: 0.19rem;
}

.documents {
    width: 30%;
    padding-left: 0.4rem;
}

.documents .item {
    background: rgba(255, 255, 255, 1);
    box-shadow: 4px 5px 8px 1px rgba(51, 51, 51, 0.15);
    font-size: 0.24rem;
    line-height: 0.36rem;
    font-family: Georgia;
    padding: 0.18rem;
    position: relative;
    height: 1.5rem;
}

.documents .item_pr>img {
    width: 31px;
    height: 31px;
    position: absolute;
    bottom: 0;
    right: 15px;
}

.video-popup.white-popup {
    /* position: relative; */
    /* position: absolute;
    top:0%;
    left: 50%;
    width: 50%;
    height: 50%;
    transform: translate3d(-50%,-50%,0); */
    width: 938px;
    margin: 0 auto;
    overflow: hidden;
    /* height: 646px */
}

/* .close_icon{
    width: 56px;
    height: 56px;
    background: url(../asset/img/close.png) no-repeat;
    background-size: cover;
    position: absolute;
    left: 50%;
    bottom: -89px;
} */
.modal_video {
    position: absolute;
    top: 33.333%;
    left: 50%;
    width: 80%;
    height: 0;
    padding-bottom: 45%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}

.modal_video .my-video-dimensions {
    position: absolute;
}