@import "animate.min.css";
.f-cb:after,
.f-cbli li:after {
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  content: '.';
}
.f-cb,
.f-cbli li {
  zoom: 1;
}
.f-ib {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.f-dn {
  display: none;
}
.f-db {
  display: block;
}
.f-fl {
  float: left;
}
.f-fr {
  float: right;
}
.f-pr {
  position: relative;
}
.f-prz {
  position: relative;
  zoom: 1;
}
.f-oh {
  overflow: hidden;
}
.f-ff0 {
  font-family: arial;
}
.f-ff1 {
  font-family: "Microsoft YaHei", arial;
}
.f-fs1 {
  font-size: 12px;
}
.f-fs2 {
  font-size: 14px;
}
.f-fwn {
  font-weight: normal;
}
.f-fwb {
  font-weight: bold;
}
.f-tal {
  text-align: left;
}
.f-tac {
  text-align: center;
}
.f-tar {
  text-align: right;
}
.f-taj {
  text-align: justify;
  text-justify: inter-ideograph;
}
.f-vam,
.f-vama * {
  vertical-align: middle;
}
.f-wsn {
  word-wrap: normal;
  white-space: nowrap;
}
.f-pre {
  overflow: hidden;
  text-align: left;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
}
.f-wwb {
  white-space: normal;
  word-wrap: break-word;
  word-break: break-all;
}
.f-ti {
  overflow: hidden;
  text-indent: -30000px;
}
.f-ti2 {
  text-indent: 2em;
}
.f-lhn {
  line-height: normal;
}
.f-tdu,
.f-tdu:hover {
  text-decoration: underline;
}
.f-tdn,
.f-tdn:hover {
  text-decoration: none;
}
.f-toe {
  overflow: hidden;
  word-wrap: normal;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.f-csp {
  cursor: pointer;
}
.f-csd {
  cursor: default;
}
.f-csh {
  cursor: help;
}
.f-csm {
  cursor: move;
}
.f-usn {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.f-bc {
  margin-left: auto;
  margin-right: auto;
}
.f-db {
  display: block;
}
.f-dib {
  display: inline-block;
}
.f-dn {
  display: none;
}
.f-pr {
  position: relative;
}
.f-pa {
  position: absolute;
}
.f-pf {
  position: fixed;
}
[class*='f-1px'] {
  position: relative;
}
[class*='f-1px']::after {
  content: ' ';
  position: absolute;
  pointer-events: none;
  box-sizing: border-box;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  transform: scale(0.5);
  border: 0 solid #000;
}
[class*='f-1px']::after-top::after {
  border-top-width: 1px;
}
[class*='f-1px']::after-left::after {
  border-left-width: 1px;
}
[class*='f-1px']::after-right::after {
  border-right-width: 1px;
}
[class*='f-1px']::after-bottom::after {
  border-bottom-width: 1px;
}
[class*='f-1px']::after-top-bottom::after {
  border-width: 1px 0;
}
[class*='f-1px']::after-surround::after {
  border-width: 1px;
}
.f-1px-top::after {
  border-top-width: 1px;
}
.f-1px-left::after {
  border-left-width: 1px;
}
.f-1px-right::after {
  border-right-width: 1px;
}
.f-1px-bottom::after {
  border-bottom-width: 1px;
}
.f-1px-top-bottom::after {
  border-width: 1px 0;
}
.f-1px-surround::after {
  border-width: 1px;
}

[flex] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
[flex] > * {
  display: block;
}
[flex] > [flex] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
[flex~="dir:left"] {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
[flex~="dir:right"] {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: end;
}
[flex~="dir:top"] {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
[flex~="dir:bottom"] {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  -webkit-box-pack: end;
}
[flex~="main:left"] {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
[flex~="main:right"] {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
[flex~="main:justify"] {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
[flex~="main:center"] {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
[flex~="cross:top"] {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
[flex~="cross:bottom"] {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}
[flex~="cross:center"] {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
[flex~="cross:baseline"] {
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}
[flex~="cross:stretch"] {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
[flex~="box:mean"] > *,
[flex~="box:first"] > *,
[flex~="box:last"] > *,
[flex~="box:justify"] > * {
  width: 0;
  height: auto;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
}
[flex~="box:first"] > :first-child,
[flex~="box:last"] > :last-child,
[flex~="box:justify"] > :first-child,
[flex~="box:justify"] > :last-child {
  width: auto;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
[flex~="dir:top"][flex~="box:mean"] > *,
[flex~="dir:top"][flex~="box:first"] > *,
[flex~="dir:top"][flex~="box:last"] > *,
[flex~="dir:top"][flex~="box:justify"] > *,
[flex~="dir:bottom"][flex~="box:mean"] > *,
[flex~="dir:bottom"][flex~="box:first"] > *,
[flex~="dir:bottom"][flex~="box:last"] > *,
[flex~="dir:bottom"][flex~="box:justify"] > * {
  width: auto;
  height: 0;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
}
[flex~="dir:top"][flex~="box:first"] > :first-child,
[flex~="dir:top"][flex~="box:last"] > :last-child,
[flex~="dir:top"][flex~="box:justify"] > :first-child,
[flex~="dir:top"][flex~="box:justify"] > :last-child,
[flex~="dir:bottom"][flex~="box:first"] > :first-child,
[flex~="dir:bottom"][flex~="box:last"] > :last-child,
[flex~="dir:bottom"][flex~="box:justify"] > :first-child [flex~="dir:bottom"][flex~="box:justify"] > :last-child {
  height: auto;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
[flex-box="0"] {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
[flex-box="1"] {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
}
[flex-box="2"] {
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
  -webkit-flex-shrink: 2;
  -ms-flex-negative: 2;
  flex-shrink: 2;
}
[flex-box="3"] {
  -webkit-box-flex: 3;
  -webkit-flex-grow: 3;
  -ms-flex-positive: 3;
  flex-grow: 3;
  -webkit-flex-shrink: 3;
  -ms-flex-negative: 3;
  flex-shrink: 3;
}
[flex-box="4"] {
  -webkit-box-flex: 4;
  -webkit-flex-grow: 4;
  -ms-flex-positive: 4;
  flex-grow: 4;
  -webkit-flex-shrink: 4;
  -ms-flex-negative: 4;
  flex-shrink: 4;
}
[flex-box="5"] {
  -webkit-box-flex: 5;
  -webkit-flex-grow: 5;
  -ms-flex-positive: 5;
  flex-grow: 5;
  -webkit-flex-shrink: 5;
  -ms-flex-negative: 5;
  flex-shrink: 5;
}
[flex-box="6"] {
  -webkit-box-flex: 6;
  -webkit-flex-grow: 6;
  -ms-flex-positive: 6;
  flex-grow: 6;
  -webkit-flex-shrink: 6;
  -ms-flex-negative: 6;
  flex-shrink: 6;
}
[flex-box="7"] {
  -webkit-box-flex: 7;
  -webkit-flex-grow: 7;
  -ms-flex-positive: 7;
  flex-grow: 7;
  -webkit-flex-shrink: 7;
  -ms-flex-negative: 7;
  flex-shrink: 7;
}
[flex-box="8"] {
  -webkit-box-flex: 8;
  -webkit-flex-grow: 8;
  -ms-flex-positive: 8;
  flex-grow: 8;
  -webkit-flex-shrink: 8;
  -ms-flex-negative: 8;
  flex-shrink: 8;
}
[flex-box="9"] {
  -webkit-box-flex: 9;
  -webkit-flex-grow: 9;
  -ms-flex-positive: 9;
  flex-grow: 9;
  -webkit-flex-shrink: 9;
  -ms-flex-negative: 9;
  flex-shrink: 9;
}
[flex-box="10"] {
  -webkit-box-flex: 10;
  -webkit-flex-grow: 10;
  -ms-flex-positive: 10;
  flex-grow: 10;
  -webkit-flex-shrink: 10;
  -ms-flex-negative: 10;
  flex-shrink: 10;
}

@media(max-width:991px){

  .f-cb .list-people ul li .txt p{
     font-size: 15px;
  }
}

.main .l,
.main .foot-l {
  float: left;
  min-height: 60px;
  width: 60.71%;
  box-sizing: border-box;
}
.main .r,
.main .foot-r {
  width: 39.29%;
  float: right;
  min-height: 60px;
  box-sizing: border-box;
}
.bc-eee {
  background: #eee;
}
.bc-fff {
  background: #fff;
}

.list-people {
  margin-top: 30px;
}
.list-people ul {
  margin: 0;
  padding: 0;
}
.list-people ul li {
  list-style: none;
}
.list-people ul li h3 {
  padding: 0px 20px;
  height: 60px;
  line-height: 60px;
  color: #fff;
  margin: 0;
  margin-bottom: 6px;
  background-image: -webkit-linear-gradient(left, #005BAC 0%, #0A69BD 100%);
  background-image: -o-linear-gradient(left, #005BAC 0%, #0A69BD 100%);
  background-image: linear-gradient(to right, #005BAC 0%, #0A69BD 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff005BAC', endColorstr='#ff0A69BD', GradientType=1);
  position: relative;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
}
.list-people ul li h3 span {
  font-size: 12px;
  position: absolute;
  left: 20px;
  top: 50%;
  margin-top: -6px;
}
.list-people ul li h3 span:nth-child(2) {
  display: none;
}
.list-people ul li h3 b {
  font-size: 0.24rem;
  font-weight: normal;
  float: left;
  height: 60px;
  line-height: 60px;
  margin-left: 20px;
  white-space: nowrap;
}
.list-people ul li h3 s {
  font-style: normal;
  text-decoration: none;
  font-size: 0.24rem;
  color: #fff;
  opacity: 0.7;
  height: 60px;
  line-height: 60px;
  float: left;
  margin-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.list-people ul li .txt {
  padding: 0 20px;
  margin-top: 15px;
  display: none;
  overflow: hidden;
  zoom: 1;
  text-align: justify;
}
.list-people ul li .txt p{
  font-size: 0.24rem;
  font-family: Georgia;

}
.list-people ul li .txt img {
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
  /* width: 138px;
  height: 160px; */
  width: 2.88rem;
  height: 3.35rem;
}
.list-people ul li.active h3 span:nth-child(1) {
  display: none;
}
.list-people ul li.active h3 span:nth-child(2) {
  display: block;
}
.list-people ul li.active .txt {
  display: block;
}

@media (max-width: 768px) {
  .main .foot-l,
  .main .foot-r {
    min-height: 40px;
  }
  .list-people ul li h3 {
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .list-people ul li h3 b {
    display: block;
    float: none;
    height: 25px;
    line-height: 25px;
  }
  .list-people ul li h3 s {
    display: block;
    float: none;
    height: 25px;
    line-height: 25px;
    margin-left: 20px;
  }

}
@media (max-width: 414px) {
 
  .main .foot-l,
  .main .foot-r {
    min-height: 30px;
  }
  
  .list-people {
    margin-top: 20px;
  }
  .list-people ul li h3 {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .list-people ul li h3 b {
    font-size: 15px;
    height: 18px;
    line-height: 18px;
  }
  .list-people ul li h3 s {
    font-size:15px;
    height: 18px;
    line-height: 18px;
  }
  .list-people ul li .txt {
    padding: 0 10px;
  }
  .list-people ul li .txt img {
    width: 100px;
    height: auto;
  }

}
